{% extends 'base1.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}
<main class="main-container">
        <div class="container" style="width:95%;height: auto;">
            <a onclick="history.back()"><i class="bi bi-arrow-left"></i> Retour</a>
            {% for messages in app.flashes('success') %}
                <div class="alert alert-success">{{ messages }}</div>
            {% endfor %}
            <h5 class="titree">Détails du logement</h5>
            <div class="card mb-3" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-3">
                    <div class="img-back">
                        {% if logement.img != null %}
                        <img src="{{ app.request.basepath }}/log/{{ logement.img }}" class="img-fluid rounded-start" alt="Image du logement" style="width: 100%;height: 100%;border-radius: 13px;">
                        {% else %}
                            <img src="/assets/img/logement.png" class="img-fluid rounded-start" alt="Image du logement" style="padding-left: 33%;padding-top: 10%;"> 
                        {% endif %} 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 16px;font-weight: 500;">{{ logement.nom }}</h5>
                        <p class="card-text" style="color:rgba(0, 0, 0, 0.58);"><i class="fa-regular fa-bed"></i> {{ logement.nbrChambre }} | <i class="fa-regular fa-bath"></i> {{ logement.nbrBain }}</p>
                        <p class="card-text"><small class="text-body-secondary"><i class="bi bi-geo-alt" style="color:rgba(0, 0, 0, 0.58);"></i> {{ logement.adresse }},{{ logement.completAdresse }}</small></p>
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-12">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-d">Description</h6>
                                    <h6 class="res-d2">{{ logement.description }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="row justify-content-between">
             <div class="col-auto me-auto">
                <strong class="card-title" style="font-weight: bold;font-size:1.25rem;">Mes logements</strong>
            </div>
            <div class="col-1" style="font-size: 1.25rem;text-align: end;">
                <a href="{{ path('app_task_new',{'id':logement.id}) }}"><i class="bi bi-plus-square-fill"></i></a>
            </div>
        </div><br>
        
        <div class="card">
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    {% for task in logement.tasks %}
                                        <div class="col-md-6">
                                            <div class="card m-2">
                                                <div class="card-body b">
                                                    <div class="row" style="margin-bottom:2%;">
                                                        <div class="col-md-9" style="margin-top: 2%;">
                                                            <h6 class="taskTitre">{{ task.titre }}</h6>
                                                        </div>
                                                        <div class="col-md-3" style="display:flex;">
                                                            <a href="{{ path('app_task_edit',{'id':task.id}) }}"><div class="btnM"><i class="bi bi-pencil-square"></i></div></a>
                                                            <a  data-bs-toggle="modal"  data-bs-target="#exampleModal{{task.id}}"><div class="btnM2"><i class="bi bi-trash"></i></div></a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h6 class="taskDesc">{{ task.description }}</h6>
                                                        </div>
                                                        <div class="col-md-12">
                                                        {% if task.img %}
                                                            <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                                <img src="{{app.request.basepath}}/taskHote/{{task.img}}" class="img-thumbnail" alt="Task Image" style="max-width: 120px; height: auto;">
                                                            </div>
                                                        {% else %}
                                                            <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                                <img src="/assets/img/image-gallery.png" style="width: 64px; height: 64px;">
                                                                <span>Aucune image ajoutée<span>
                                                            </div>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-exclamation-triangle-fill"></i></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir supprimer cette tâche ? Cette action est irréversible.
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('app_task_delete',{'id':task.id}) }}"><button type="button" class="btn b3">Supprimer</button></a>
                                            </div>
                                            </div>
                                        </div>
                                        </div>   
                                    <!--end-->
                                    {% else %}
                                            <div class="emptyReserv" style="padding:4%;">
                                                <img src="/assets/img/list.png" style="width: 64px; height: 64px;"><br>
                                                <h5 style="font-weight: 600;font-size: 18px;">Aucune tâche est liée à ce logement</h5>
                                                <h6 style="font-size: 16px;font-weight: 500;">Vous pouvez toujours ajouter des tâches pour ce logement</h6><br>
                                                <a href="{{ path('app_task_new',{'id':logement.id}) }}"><button type="button" class="btn btn-secondary poster">Ajouter une tâche</button></a>
                                            </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
        
    </div>
</main>
{# modal pour modifier tâche#}
       {% if cible == "task" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin: auto;width: 86%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel"></h5>
                            <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                               
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h5 style="font-weight: 600;text-align: center;">Ajouter une tâche</h5>
                            <div class="alert alert-primary" role="alert" style="background-color:rgba(231, 247, 238, 1);border:none;">
                                <img src="/assets/img/lamp.png" style="padding-bottom: 6px;"> Astuse
                                <h6 style="font-size: 0.9rem;color: rgba(0, 0, 0, 0.65);">Le titre de tâche doit être simple, par exemple : Nettoyage de sol, désinfection d’un balcon etc..</h6>
                            </div>
                            </div>
                            <form  method="post" enctype="multipart/form-data">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nom" style="color:black;font-size: 15px;">Titre de tâche</label>
                                    <input type="text" class="form-control" id="nom" name="task[titre]" placeholder="Donnez un titre à cette tâche" required>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nom">Image</label>
                                        {{ form_widget(form.img) }}
                                    </div>
                                </div>
                            </div><br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" style="color:black;font-size: 15px;">Description</label>
                                    <textarea class="form-control" id="description" name="task[description]" placeholder="Ajouter les détails de cette tâche ..." required></textarea>
                                </div>
                            </div>
                                
                        </div>
                        <div class="modal-footer" >
                            <button type="submit"  class="btn btn-secondary" style="width: 33%;padding-top: 2%;padding-bottom: 2%;font-size: 0.9rem;margin: auto;">{{ button_label|default('Ajouter') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalIdentity %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    {% endblock %}
            {% endif %}
            {#end modal ajouter#}

            {# modal pour modifier#}
       {% if cible == "taskModifier" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin: auto;width: 86%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel"></h5>
                            <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                               
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h5 style="font-weight: 600;text-align: center;">Modifier une tâche</h5>
                            </div>
                            <form  method="post" enctype="multipart/form-data">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nom" style="color:black;font-size: 15px;">Titre de tâche</label>
                                    {{ form_widget(form.titre) }}
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nom">Image</label>
                                        {{ form_widget(form.img) }}
                                    </div>
                                </div>
                            </div><br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" style="color:black;font-size: 15px;">Description</label>
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>
                                
                        </div>
                        <div class="modal-footer" >
                            <button type="submit"  class="btn btn-secondary" style="width: 33%;padding-top: 2%;padding-bottom: 2%;font-size: 0.9rem;margin: auto;">{{ button_label|default('Modifier') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalIdentity2 %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    {% endblock %}
            {% endif %}
            {#end modal modifier#}
{% endblock %}
