{% extends 'base1.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}
<main class="main-container">
        <div class="container" style="width:95%;height: auto;">
            <a onclick="history.back()"><i class="bi bi-arrow-left"></i> Retour</a>
            {% for messages in app.flashes('success') %}
                <div class="alert alert-success">{{ messages }}</div>
            {% endfor %}
            <h5 class="titree">Détails du logement</h5>
            <div class="card mb-3" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-3">
                    <div class="img-back">
                        {% if logement.img != null %}
                        <img src="{{ app.request.basepath }}/log/{{ logement.img }}" class="img-fluid rounded-start" alt="Image du logement" style="width: 100%;height: 100%;border-radius: 13px;">
                        {% else %}
                            <img src="/assets/img/logement.png" class="img-fluid rounded-start" alt="Image du logement" style="padding-left: 33%;padding-top: 10%;"> 
                        {% endif %} 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 16px;font-weight: 500;">{{ logement.nom }}</h5>
                        <p class="card-text" style="color:rgba(0, 0, 0, 0.58);"><i class="fa-regular fa-bed"></i> {{ logement.nbrChambre }} | <i class="bi bi-house" style="color:rgba(0, 0, 0, 0.58);"></i> {{ logement.nbrBain }}</p>
                        <p class="card-text"><small class="text-body-secondary"><i class="bi bi-geo-alt" style="color:rgba(0, 0, 0, 0.58);"></i> {{ logement.adresse }},{{ logement.completAdresse }}</small></p>
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-12">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-d">Description</h6>
                                    <h6 class="res-d2">{{ logement.description }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="row justify-content-between">
             <div class="col-auto me-auto">
                <strong class="card-title" style="font-weight: bold;font-size:1.25rem;">Tâches</strong>
            </div>
            <div class="col-auto" style="font-size: 1.25rem;text-align: end;">
                <a class="btn btn-secondary" href="{{ path('app_task_new',{'id':logement.id}) }}">Ajouter une tâche</a>
            </div>
        </div><br>
        
        <div class="card">
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    {% for task in logement.tasks %}
                                        <div class="col-md-6">
                                            <div class="card m-2">
                                                <div class="card-body b">
                                                    <div class="row" style="margin-bottom:2%;">
                                                        <div class="col-md-10" style="margin-top: 2%;">
                                                            <h6 class="taskTitre">{{ task.titre }}</h6>
                                                        </div>
                                                        <div class="col-md-auto" style="display:flex;">
                                                            <a  data-bs-toggle="modal"  data-bs-target="#exampleModal{{task.id}}"><div class="btnM2"><i class="bi bi-trash"></i></div></a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h6 class="taskDesc">{{ task.detail }}</h6>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <h6 class="taskDesc">{{ task.description }}</h6>
                                                        </div>
                                                        <div class="col-md-12">
                                                        {% if task.img %}
                                                            <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                                <img src="{{app.request.basepath}}/taskHote/{{task.img}}" class="img-thumbnail" alt="Task Image" style="max-width: 120px; height: auto;">
                                                            </div>
                                                        {% else %}
                                                            <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                                <img src="/assets/img/image-gallery.png" style="width: 64px; height: 64px;">
                                                                <span>Aucune image ajoutée<span>
                                                            </div>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="bi bi-exclamation-triangle-fill"></i></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir supprimer cette tâche ? Cette action est irréversible.
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('app_task_delete',{'id':task.id}) }}"><button type="button" class="btn b3">Supprimer</button></a>
                                            </div>
                                            </div>
                                        </div>
                                        </div>   
                                    <!--end-->
                                    {% else %}
                                            <div class="emptyReserv" style="padding:4%;">
                                                <img src="/assets/img/list.png" style="width: 64px; height: 64px;"><br>
                                                <h5 style="font-weight: 600;font-size: 18px;">Aucune tâche est liée à ce logement</h5>
                                                <h6 style="font-size: 16px;font-weight: 500;">Vous pouvez toujours ajouter des tâches pour ce logement</h6><br>
                                                <a href="{{ path('app_task_new',{'id':logement.id}) }}"><button type="button" class="btn btn-secondary poster">Ajouter une tâche</button></a>
                                            </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
        
    </div>
</main>
{# modal pour modifier tâche#}
       {% if cible == "task" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin: auto;width: 86%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h5 style="font-weight: 600;text-align: center;">Ajouter une tâche</h5>
                            <div class="alert alert-primary" role="alert" style="background-color:rgba(231, 247, 238, 1);border:none;">
                                <img src="/assets/img/lamp.png" style="padding-bottom: 6px;"> Astuse
                                <h6 style="font-size: 0.9rem;color: rgba(0, 0, 0, 0.65);">Le titre de tâche doit être simple, par exemple : Nettoyage de sol, désinfection d’un balcon etc..</h6>
                            </div>
                            </div>
                            <form  method="post" enctype="multipart/form-data">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nom" style="color:black;font-size: 15px;">Type de tâche</label>
                                    <select id="typeTache" name="task[titre]" class="form-control"  required>
                                        <option value="Nettoyage des surfaces" selected>Nettoyage des surfaces</option>
                                        <option value="Nettoyage des sols">Nettoyage des sols</option>
                                        <option value="Nettoyage de la cuisine">Nettoyage de la cuisine</option>
                                        <option value="Nettoyage de la salle de bain">Nettoyage de la salle de bain</option>
                                        <option value="Nettoyage des toilettes">Nettoyage des toilettes</option>
                                        <option value="Changement des draps et des serviettes">Changement des draps et des serviettes</option>
                                        <option value="Organisation et rangement">Organisation et rangement</option>
                                        <option value="Gestion des déchets">Gestion des déchets</option>
                                        <option value="Gestion de l'odeur ">Gestion de l'odeur </option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nom" style="color:black;font-size: 15px;">Détails de la tâche</label>
                                    <select id="detailsTache" name="task[detail]" class="form-control"  required>
                                        <option value="Poussière sur les meubles" selected>Poussière sur les meubless</option>
                                        <option value="Nettoyage des tables et autres surfaces">Nettoyage des tables et autres surfaces</option>
                                        <option value="Nettoyage des fenêtres, des miroirs et des surfaces vitrées">Nettoyage des fenêtres, des miroirs et des surfaces vitrées</option>
                                    </select>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nom">Image</label>
                                        {{ form_widget(form.img) }}
                                    </div>
                                </div>
                            </div><br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" style="color:black;font-size: 15px;">Avez-vous d'autre remarque? (Optionnel)</label>
                                    <textarea class="form-control" id="description" name="task[description]" placeholder="Ajouter les détails de cette tâche ..."></textarea>
                                </div>
                            </div>
                                
                        </div>
                        <div class="modal-footer" >
                            <button type="submit"  class="btn btn-secondary" style="width: 33%;padding-top: 2%;padding-bottom: 2%;font-size: 0.9rem;margin: auto;">{{ button_label|default('Ajouter') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalIdentity %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    {% endblock %}
            {% endif %}
            {#end modal ajouter#}

            {# modal pour modifier#}
       {% if cible == "taskModifier" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin: auto;width: 86%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h5 style="font-weight: 600;text-align: center;">Modifier une tâche</h5>
                            </div>
                            <form  method="post" enctype="multipart/form-data">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nom" style="color:black;font-size: 15px;">Titre de tâche</label>
                                    {{ form_widget(form.titre) }}
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nom">Image</label>
                                        {{ form_widget(form.img) }}
                                    </div>
                                </div>
                            </div><br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" style="color:black;font-size: 15px;">Description</label>
                                    {{ form_widget(form.description) }}
                                </div>
                            </div>
                                
                        </div>
                        <div class="modal-footer" >
                            <button type="submit"  class="btn btn-secondary" style="width: 33%;padding-top: 2%;padding-bottom: 2%;font-size: 0.9rem;margin: auto;">{{ button_label|default('Modifier') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalIdentity2 %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    {% endblock %}
            {% endif %}
            {#end modal modifier#}
            <script>
    // Écoute des changements dans le champ "Type de tâche"
    document.getElementById('typeTache').addEventListener('change', function() {
        var typeTache = this.value;
        var detailsTacheSelect = document.getElementById('detailsTache');

        // Effacer les options existantes
        detailsTacheSelect.innerHTML = '';

        // Générer et ajouter les nouvelles options en fonction du type de tâche sélectionné
        if (typeTache === 'Nettoyage des surfaces') {
            addOptions(detailsTacheSelect, [
                { value: 'Poussière sur les meubles', text: 'Poussière sur les meubles' },
                { value: 'Nettoyage des fenêtres, des miroirs et des surfaces vitrées', text: 'Nettoyage des fenêtres, des miroirs et des surfaces vitrées' },
                { value: 'Nettoyage des tables et autres surfaces', text: 'Nettoyage des tables et autres surfaces' }
            ]);
        } else if (typeTache === 'Nettoyage des sols') {
            addOptions(detailsTacheSelect, [
                { value: 'Nettoyage des sols avec un aspirateur', text: 'Nettoyage des sols avec un aspirateur' },
                { value: 'Nettoyage des sols avec une serpillère', text: 'Nettoyage des sols avec une serpillère' },
                { value: 'Nettoyage des sols avec un balai', text: 'Nettoyage des sols avec un balai' }
            ]);
        } else if (typeTache === 'Nettoyage de la cuisine') {
            addOptions(detailsTacheSelect, [
                { value: 'Lavage de la vaisselle', text: 'Lavage de la vaisselle' },
                { value: 'Nettoyage de tous les appareils éléctro-ménagers', text: 'Nettoyage de tous les appareils éléctro-ménagers' },
            ]);
        } else if (typeTache === 'Nettoyage de la salle de bain') {
            addOptions(detailsTacheSelect, [
                { value: 'Nettoyage des parois de la douche', text: 'Nettoyage des parois de la douche' },
                { value: 'Nettoyage du pommeau de douche', text: 'Nettoyage du pommeau de douche' },
                { value: 'Nettoyage des joints et des coins', text: 'Nettoyage des joints et des coins' },
                { value: 'Essuyage et finitions', text: 'Essuyage et finitions' },
            ]);
        } else if (typeTache === 'Nettoyage des toilettes') {
            addOptions(detailsTacheSelect, [
                { value: 'Nettoyage du siège et de la lunette', text: 'Nettoyage du siège et de la lunette' },
                { value: 'Nettoyage de l\'extérieur des toilettes', text: 'Nettoyage de l\'extérieur des toilettes' },
            ]);
        } else if (typeTache === 'Changement des draps et des serviettes') {
            addOptions(detailsTacheSelect, [
                { value: 'Remplacement des draps de lit', text: 'Remplacement des draps de lit' },
                { value: 'Remplacement des taies d\'oreiller', text: 'Remplacement des taies d\'oreiller' },
                { value: 'Remplacement des serviettes de bain', text: 'Remplacement des serviettes de bain' }
            ]);
        } else if (typeTache === 'Organisation et rangement') {
            addOptions(detailsTacheSelect, [
                { value: 'Ranger les objets décoratifs', text: 'Ranger les objets décoratifs' },
                { value: 'Ranger les articles ménagers', text: 'Ranger les articles ménagers' }
            ]);
        } else if (typeTache === 'Gestion des déchets') {
            addOptions(detailsTacheSelect, [
                { value: 'Sortir les poubelles', text: 'Sortir les poubelles' },
                { value: 'Nettoyer les poubelles', text: 'Nettoyer les poubelles' },
            ]);
        } else if (typeTache === 'Gestion de l\'odeur ') {
            addOptions(detailsTacheSelect, [
                { value: 'Utilisation de désodorisants', text: 'Utilisation de désodorisants' },
                { value: 'Utilisation de bougies parfumées ', text: 'Utilisation de bougies parfumées' },
                { value: 'Utilisation de diffuseurs pour maintenir une bonne odeur dans l\'appartement', text: 'Utilisation de diffuseurs pour maintenir une bonne odeur dans l\'appartement' }
            ]);
        } 
    });

    // Fonction pour ajouter plusieurs options à un select
    function addOptions(selectElement, options) {
        options.forEach(function(option) {
            var optionElement = document.createElement('option');
            optionElement.value = option.value;
            optionElement.textContent = option.text;
            selectElement.appendChild(optionElement);
        });
    }
</script>
{% endblock %}
