{% extends 'base.html.twig' %}

{% block title %}chat{% endblock %}

{% block body %}
<main class="main-container">
    <div class="container" style="width: 95%; height: 100%;">
        <div class="card" style="border: none; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 2%; height: 90%;">
            <div class="row">
                <div class="col-md-10" style="margin:auto;">
                    <div class="card" style="height: 78vh;">
                    <div style="display:flex;">
                        <img src="{{app.request.basepath}}/img/{{convUser.picture}}" style="width: 40px; height: 40px;border-radius: 50px;margin-top: auto;margin-bottom: auto;margin-left: 7px;">
                        <div style="padding:1%;">
                            <p style="margin-bottom:0%;font-size: 16px;font-weight: 600;">{{ convUser.firstname }} {{ convUser.lastname }}</p>
                            <a style="color:#FF385C;font-size: 13px;    text-decoration: underline;">Voir son profil</a>
                        </div>
                    </div>
                        <hr style="margin-top:0%;">
                        <div class="overflow-auto" style="height: 60vh;">
                            {% for message in messages %}
                                {% if message.sender.id != idUser %}
                                    {% if message.type == 'image' %}
                                        <div>
                                            <img src="/img/default.png" alt="Avatar" class="rounded-circle" style="width: 40px; height: 40px;">
                                            <div class="h-auto d-inline-block" style="width: 260px;padding: 2%;border-radius: 50px 50px 50px 0px;background:rgba(240, 241, 243, 1);font-size:14px;">
                                                <img class="" src="{{app.request.basepath}}/message/{{message.content}}" alt="" width="110" height="110">
                                            </div>
                                        </div><br>
                                    {% else %}
                                        <div>
                                            <img src="/img/default.png" alt="Avatar" class="rounded-circle" style="width: 40px; height: 40px;">
                                            <div class="h-auto d-inline-block" style="width: 260px;padding: 2%;border-radius: 50px 50px 50px 0px;background:rgba(240, 241, 243, 1);font-size:14px;">{{message.content}}</div>
                                        </div><br>
                                    {% endif %}
                                {% else %}
                                     {% if message.type == 'image' %}
                                        <div style="text-align: end;padding-right: 2%;">
                                            <div class="h-auto d-inline-block" style="width: 260px;padding: 2%;border-radius: 50px 50px 0px 50px;background:rgba(230, 241, 253, 1);font-size:14px;    text-align: left;">
                                                <img class="" src="{{app.request.basepath}}/message/{{message.content}}" alt="" width="110" height="110">
                                            </div>
                                        </div><br>
                                    {% else %}
                                        <div style="text-align: end;padding-right: 2%;">
                                            <div class="h-auto d-inline-block" style="width: 260px;padding: 2%;border-radius: 50px 50px 0px 50px;background:rgba(230, 241, 253, 1);font-size:14px;    text-align: left;">{{message.content}}</div>
                                        </div><br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="position-absolute bottom-0 end-0 w-100" style="padding:2%;">
                            <div class="w-100 p-2" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;border-radius:10px;display: flex;justify-content: space-between;">
                                <form name="message" method="post" style="width: 100%;">
                                    <input type="text" name="message[content]" placeholder="Envoyer un message ..." style="font-size: 14px;width: 86%;border-bottom:none !important;">
                                    <button type="submit" class="btn btn-primary" style="height: 29px;width: 31px;color: #f8f9fa;padding:0%;"><i class="fa-solid fa-paper-plane"></i></button>
                                    {{ form_row(form._token) }}
                                </form>
                                <button type="submit" class="noborder" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border: none;background: none;"><i class="fa-solid fa-paperclip"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# modal picture #}
              <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Envoyer une image</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form name="messageFile" method="post" enctype="multipart/form-data">
                            {{ form_row(form2._token) }}
                            <div class="col-sm-8">
                                {{ form_widget(form2.content) }}        
                            </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn b2">{{ button_label|default('Envoyer') }}</button>
                    
                </div></form>
            </div>
            </div>
            {% block scripteditEventModalIdentity %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    {% endblock %}
</main>
{% endblock %}
