{% extends 'base1.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        
                    <div class="row reservation">
                        <div class="col-auto me-auto">
                            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Problèmes</strong>
                        </div>
                        <div class="col-1">
                            <a type="button" href="{{ path('app_probleme_add')}}"><i class="bi bi-plus-square-fill"></i></a>
                        </div>
                    </div><br>
                    <div class="row">
                    {% if problemes|length > 0 %}
                    {% for probleme in problemes %}
                       <div class="col-md-6">
                            <a>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto me-auto">
                                            <strong class="card-title log">{{ probleme.logement.nom }}</strong>
                                        </div>
                                        <div class="col-auto">
                                            {% if probleme.statut == "0" %}
                                                <div class="col-md-2 alert alert-warning nonRe" role="alert">
                                                    <i class="bi bi-exclamation-triangle"></i>  Non résolu
                                                </div>
                                            {% elseif probleme.statut == "1" %}
                                                <div class="col-md-2 alert alert-warning resolu" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgba(111, 114, 121, 1);"></i>  Résolu
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-12">
                                            <h4 class="card-title log">{{ probleme.titre }}</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 class="res-d">{{ probleme.description }}</h6>
                                        </div>
                                        <div class="col-md-12">
                                            {% if probleme.statut == "0" %}
                                                <div class="col-md-4">
                                                    <a href="{{ path("app_probleme_modifier_statut",{'id':probleme.id})}}" type="button" class="btn btn-secondary renv" style="margin-bottom:1%;">C'est réglé</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                        {% else %}                 
                        <div class="emptyReserv">
                            <img style="width:114px;" src="/assets/img/probleme.png"><br>
                            <h5 style="font-weight: bold;">Aucun problème signalé</h5><br>
                            <h6 class="res-d">Vos logements sont en parfait état !</h6><br>
                        </div>
                {% endif %}
                </div>
        </div>
        {# modal pour probleme #}
       {% if cible == "add" %}
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding:2%;">
    <div class="modal-content modal-reservation">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signaler un problème</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form method="post">
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Titre du problème</label>
                            <div class="input-group">
                                {{ form_widget(form.titre) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Nom du logement</label>
                            <div class="input-group">
                                {{ form_widget(form.logement) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <label for="date">Description</label>
                            <div class="input-group">
                                {{ form_widget(form.description) }}
                            </div>
                            </div>
                        </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-primary proB">Enregistrer</button>
                    </div>
                </div>
                {{ form_row(form._token) }}
            </form><br>
      </div>
    </div>
  </div>
  {% block scripteditEventModalexp %}
                <script>
    var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
    myModal.show();
</script>
                    {% endblock %}
                    {% endif %}

    </main>

{% endblock %}