{% extends 'base1.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        
                    <div class="row reservation">
                        <div class="col-auto me-auto">
                            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Problèmes</strong>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-secondary" type="button" href="{{ path('app_probleme_add')}}">Signalez un problème</a>
                        </div>
                    </div><br>
                    <div class="row">
                    {% if problemes|length > 0 %}
                    {% for probleme in problemes %}
                       <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-12">
                                            <h4 class="card-title log">N°{{ probleme.num }}</h4>
                                        </div>
                                    </div>
                                    <div class="row reservation">
                                        <div class="col-auto me-auto">
                                            <strong class="card-title" style="font-weight: bold;font-size:1rem;">{{ probleme.logement.nom }}</strong>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn btn-secondary" type="button" >{{ probleme.criticiter}}</a>
                                        </div>
                                    </div><br>
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-12">
                                            <h4 class="card-title log">{{ probleme.titre }}</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <h6 class="res-d">{{ probleme.description }}</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <i class="bi bi-boxes"></i><h6 class="res-d">Plan d'action: {{ probleme.plan }}</h6>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <a href="{{ path('app_probleme_modifier',{'id': probleme.id})}}" type="button" class="btn btn1 btn-primary" style="margin-bottom:1%;">{{ probleme.statut}}</a>
                                                </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}                 
                        <div class="emptyReserv">
                            <img style="width:114px;" src="/assets/img/probleme.png"><br>
                            <h5 style="font-weight: bold;">Aucun problème signalé</h5><br>
                            <h6 class="res-d">Vos logements sont en parfait état !</h6><br>
                        </div>
                {% endif %}
                </div>
        </div>
        {# modal pour probleme #}
       {% if cible == "add" %}
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding:2%;">
    <div class="modal-content modal-reservation">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signaler un problème</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form method="post">
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Titre du problème</label>
                            <div class="input-group">
                                {{ form_widget(form.titre) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Nom du logement</label>
                            <div class="input-group">
                                {{ form_widget(form.logement) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">La criticité</label>
                            <div class="input-group">
                                {{ form_widget(form.criticiter) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <label for="date">Description</label>
                            <div class="input-group">
                                {{ form_widget(form.description) }}
                            </div>
                            </div>
                        </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-primary proB">Enregistrer</button>
                    </div>
                </div>
                {{ form_row(form._token) }}
            </form><br>
      </div>
    </div>
  </div>
  {% block scripteditEventModalexp %}
                <script>
    var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
    myModal.show();
</script>
                    {% endblock %}
                    {% endif %}

                     {# modal pour probleme #}
       {% if cible == "etat" %}
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding:2%;">
    <div class="modal-content modal-reservation">
      <div class="modal-body">
       <form method="post">
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Statut</label>
                            <div class="input-group">
                                {{ form_widget(form.statut) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="second-field" style="display: none;">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Plan d'action</label>
                            <div class="input-group">
                                    {{ form_widget(form.plan, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-primary proB">Enregistrer</button>
                    </div>
                </div>
                {{ form_row(form._token) }}
            </form><br>
      </div>
    </div>
  </div>
  {% block scripteditEventMo %}
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
                <script>
    var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
    myModal.show();
    $(document).ready(function() {
    $('#probleme_etat_statut').change(function() {
        var selectedStatut = $(this).val();
        if (selectedStatut === 'Plan d’action') {
            $('#second-field').show();
        } else {
            $('#second-field').hide();
        }
    });
});
</script>
                    {% endblock %}
                    {% endif %}
<script>

</script>
    </main>

{% endblock %}