<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>

    <!-- Material Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
    <div class="grid-container">

        
        <!-- Header -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background:#ff4063 !important;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home')}}"><img src="/assets/img/Clinup.png" alt="easyloc" width="110px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                           
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item dropdown">
                            
                        </li>
                         <li class="nav-item" style="margin: auto;">
                           <a class="nav-link" href="{{ path('app_pricing')}}" style="color: white;font-weight: bolder;">
                                Pricing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login')}}" >
                                <button type="button" class="btn btn-primary btn-lg" style="border-radius: 50px;font-size: 0.9rem;background-color: #ff4063;color: white;">Se connecter</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register')}}" >
                                <button type="button" class="btn btn-primary btn-lg" style="border-radius: 50px;font-size: 0.9rem;">Créer un compte</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Header -->

        <!-- Main -->
        {% block body %}
        <section class="bloc1H">
            <div class="titles1H">
                <h1 class="home-hero-section__headline p1">
                    Votre allié incontournable pour simplifier la recherche , rémunérer et coordonner les prestataires d'entretien dédiés à vos locations saisonnières.
                </h1>
                <div class="row">
                <div class="col-md-7">
                    <h5 class="home-hero-section__body sp2">
                        Faites partie de la communauté d'hôtes et de gestionnaires de propriétés qui ont automatisé la gestion de l'entretien de leurs locations saisonnières avec Clinup.
                    </h5>
                     <a class="nav-link" href="{{ path('app_register')}}" >
                    <button type="button" class="btn btn-secondary btn-lg">Créer un compte</button>
                    </a>
                </div>
                <div class="col-md-5">
                <!--<img src="/assets/img/iPhone 16.png" style="width:100%;" >-->
                </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-6 cent-mob" style="padding: 7%;">
                    <h1 class="h1-sec2">Synchronisation automatisée de vos calendriers de réservation</h1>
                    <br>
                    <h5 style="line-height: 28px;">Importez vos réservations depuis des plateformes telles qu'Airbnb, Vrbo, Abritel, Booking.com et d'autres encore, les consolidant en un seul endroit.</h5>
                    <br>
                    <h5>Prêt(e) à faciliter la gestion de vos locations temporaires ?</h5>
                    <br>
                    <a class="nav-link" href="{{ path('app_register')}}" >
                        <button type="button" class="btn btn-primary btn-lg" style="border-radius: 50px;font-size: 1.2rem;background-color: #ff4063;color: white;padding: 2% 7% 2% 7%;">S'inscrire</button>
                    </a>
                </div>
                <div class="col-md-6 cent-mob">
                    <img src="/assets/img/calendar.png" style="width:100%;" >
                </div>
            </div>
        </section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <h3 class="text-cares">Expériences partagées par nos hôtes</h3>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <section class="bloc3H">
            <div class="bloc3Hdiv1">
              <div class="bloc3Hdiv-2">
                <h5 class="soustitle3Hdiv"> Cette application m'a sauvé la vie ! J'avais besoin d'une femme de ménage en urgence et j'ai pu trouver quelqu'un de très professionnel grâce à elle. Le processus de réservation est simple et efficace. Je la recommande à tous mes amis </h5><br>
                <a class="initials-circle"><i class="bi bi-person"></i></a>
                <h6>Amine, Paris</h6>
              <div>
              <div>

              </div>
            </div>
        </section>
    </div>
    <div class="carousel-item">
      <section class="bloc3H">
            <div class="bloc3Hdiv1">
              <div class="bloc3Hdiv-2">
                <h5 class="soustitle3Hdiv"> Quelle facilité d'utilisation ! En quelques clics, j'ai trouvé une aide ménagère compétente pour le jour même. L'interface est intuitive et tout le processus a été incroyablement rapide. Un véritable gain de temps ! </h5><br>
                <a class="initials-circle"><i class="bi bi-person"></i></a>
                <h6>Malek, Bordeaux</h6>
              <div>
              <div>

              </div>
            </div>
        </section>
    </div>
    <div class="carousel-item">
      <section class="bloc3H">
            <div class="bloc3Hdiv1">
              <div class="bloc3Hdiv-2">
                <h5 class="soustitle3Hdiv"> Fiable et efficace ! Chaque fois que j'ai besoin de services de nettoyage de dernière minute, cette application ne me déçoit jamais. Les prestataires sont toujours à l'heure et accomplissent un travail remarquable.</h5><br>
                <a class="initials-circle"><i class="bi bi-person"></i></a>
                <h6>Fatima, Lyon</h6>
              <div>
              <div>

              </div>
            </div>
        </section>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span style="color:black !important;" aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span  style="color:black !important;" aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <section>
            <div class="row">
                <!-- Cette colonne apparaîtra en seconde position sur mobile et première sur desktop -->
                <div class="col-md-6 order-2 order-md-1 cent-mob">
                    <img src="/assets/img/reser-sec.png" style="width:100%;" >
                </div>

                <!-- Cette colonne apparaîtra en première position sur mobile et seconde sur desktop -->
                <div class="col-md-6 order-1 order-md-2 cent-mob" style="padding: 7%;">
                    <h1 class="h1-sec2">Planification Simplifiée</h1>
                    <br>
                    <h5 style="line-height: 28px;">Un agent d'entretien prêt dès qu'une nouvelle réservation est ajoutée à votre calendrier, sans nécessiter votre intervention.</h5>
                    <br>
                    <h5 style="line-height: 28px;">Gérez rapidement le ménage de vos logements sur Airbnb et d'autres plateformes avec le site Clinup.</h5>
                    <br>
                    <a class="nav-link" href="{{ path('app_register')}}" >
                        <button type="button" class="btn btn-primary btn-lg" style="border-radius: 50px;font-size: 1.2rem;background-color: #ff4063;color: white;padding: 2% 7% 2% 7%;">S'inscrire</button>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-6 cent-mob" style="padding: 7%;">
                    <h1 class="h1-sec2">Paiements sans Effort</h1>
                    <br>
                    <h5 style="line-height: 28px;">Dites adieu aux paiements manuels.</h5>
                    <br>
                    <h5>Le processus de paiement pour le service de ménage sur Airbnb est simple : en moyenne, seulement 5 minutes suffisent. Avec Clinup, simplifiez vos transactions grâce aux paiements automatiques.</h5>
                    <br>
                    <a class="nav-link" href="{{ path('app_register')}}" >
                        <button type="button" class="btn btn-primary btn-lg" style="border-radius: 50px;font-size: 1.2rem;background-color: #ff4063;color: white;padding: 2% 7% 2% 7%;">S'inscrire</button>
                    </a>
                </div>
                <div class="col-md-6 cent-mob">
                    <img src="/assets/img/paiement.png" style="width:100%;" >
                </div>
            </div>
        </section>
        
        <section class="bloc3H">
            <div class="bloc3Hdiv1">
              <div class="bloc3Hdiv">
                <h1 class="h1-sec2">Trouvez des agents d'entretien sur la MarketPlace de Clinup.</h1><br>
                <h5 class="soustitle3Hdiv">  Recevez des offres de professionnels fiables près de chez vous et gérez toutes vos missions d'entretien au même endroit  </h5><br>
                 <a class="nav-link" href="{{ path('app_register')}}" >
                 <button type="button" class="btn btn-primary btn-lg" style="border-radius: 50px;font-size: 1.2rempadding: 2% 7% 2% 7%;">S'inscrire maintenant</button>
                 </a>
              <div>
              <div>

              </div>
            </div>
        </section></br>
        {% endblock %}
        <!-- End Main -->
        
    </div>

    <!-- Bootstrap 5 Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <!-- jQuery (optional, only if needed) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <!-- Other Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    
    <!-- Custom JS -->
    <script>
        // Custom JavaScript can go here
    </script>
<div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    
                    <div class="col-sm-4 col-md-4 item">
                        <img src="/assets/img/logo-clinup.png" alt="clinup" width="110px">
                    </div>
                    <div class="col-sm-4 col-md-4 item">
                        <p class="copyright">© 2024 Clinup. All rights reserved.</p>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                      
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
