{% extends 'base1.html.twig' %}

{% block title %}New Logement{% endblock %}

{% block body %}
 <main class="main-container">
  
        <div class="container" style="width:95%;background-color:white;margin:auto;border-radius: 4px;margin-top: 2%;height: auto;">
    <h5>Modifier</h5>
 <form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nom">Nom</label>
                {{ form_widget(form.nom) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="surface">Surface</label>
                {{ form_widget(form.surface) }}
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="adresse">Adresse</label>
                                {{ form_widget(form.adresse) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="completAdresse">Complément d'adresse</label>
                {{ form_widget(form.completAdresse) }}
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nbrChambre">Nombre de Chambres</label>
                {{ form_widget(form.nbrChambre) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nbrBain">Nombre de Salles de Bain</label>
                {{ form_widget(form.nbrBain) }}
            </div>
        </div>
    </div><br>

    <div class="form-group">
        <label for="description">Description</label>
        {{ form_widget(form.description) }}
    </div><br>

    <div class="form-group col align-self-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_row(form._token) }}
</form><br>

</div>
    </main>
{% endblock %}
