{% extends 'base1.html.twig' %}

{% block title %}Logements{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        <div class="row justify-content-between">
             <div class="col-auto me-auto">
                <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Mes logements</strong>
                {% for messages in app.flashes('success') %}
                <div class="alert alert-success">{{ messages }}</div>
            {% endfor %}
            {% for messages in app.flashes('error') %}
                <div class="alert alert-danger">{{ messages }}</div>
            {% endfor %}
            </div>
            <div class="col-auto" style="font-size: 1.5rem;">
                <a class="btn btn-secondary" href="{{ path('app_logement_new') }}">Ajouter un logement</a>
            </div>
        </div><br>
        {% for logement in logements %}
        <div class="card mb-3" style="max-width: 1020px;">
            <div class="row">
                <div class="col-md-3">
                    <div class="img-back">
                    {% if logement.img != null %}
                        <img src="{{ app.request.basepath }}/log/{{ logement.img }}" class="img-fluid rounded-start" alt="Image du logement" style="width: 100%;height: 100%;border-radius: 13px;">
                    {% else %}
                        <img src="/assets/img/logement.png" class="img-fluid rounded-start" alt="Image du logement" style="padding-left: 33%;padding-top: 10%;"> 
                    {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 16px;font-weight: 500;">{{ logement.nom }}</h5>
                        <p class="card-text" style="color:rgba(0, 0, 0, 0.58);"><i class="fa-regular fa-bed"></i> {{ logement.nbrChambre }} | <i class="bi bi-house" style="color:rgba(0, 0, 0, 0.58);"></i> {{ logement.nbrBain }}</p>
                        <p class="card-text"><small class="text-body-secondary"><i class="bi bi-geo-alt" style="color:rgba(0, 0, 0, 0.58);"></i> {{ logement.adresse }},{{ logement.completAdresse }}</small></p>
                        <p class="card-text"><small class="text-body-secondary"> Accès au logement: {{ logement.acces }}</small></p>
                    </div>
                </div>
                <div class="col-md-3" style="padding-top: 1%;padding-bottom:1%;">
                <div class="row">
                
                <div class="col-md-auto" style="width:auto;">
                    <a href="{{ path('app_task_index', {'id': logement.id}) }}"><button type="button" class="btn btn-secondary det">Voir détails</button></a>
                </div>
                <div class="col-md-auto" style="width:auto;">
                <a href="{{ path('app_logement_edit',{'id':logement.id}) }}"><div class="btnM"><i class="bi bi-pencil-square"></i></div></a>
                </div>
                </div>
                    <!--<a href="{{ path('app_logement_edit', {'id': logement.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ path('app_task_index', {'id': logement.id}) }}"><i class="bi bi-list-check"></i></a>-->
                </div>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-md-center">
             <div class="emptyReserv">
                            <img src="/assets/img/reserEmp.png"><br>
                            <h5 style="font-weight: bold;">Aucun logement ajoutée</h5><br>
                            <h6>Il est temps d'ajouter vos logements avec leurs tâches et de commencer à réserver des entretiens</h6><br>
                            <a href="{{ path('app_logement_new') }}"><button type="button" class="btn btn-secondary poster">Ajouter mes logements</button></a>
                        </div>
        </div><br>
        {% endfor %}
        <br>
    </div>
    <!-- Modal
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer ce logement ? Cette action est irréversible.
                </div>
                <div class="modal-footer">
                    <a href="" id="deleteConfirmButton" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div> -->
</main>
<script>
    document.querySelectorAll('[data-bs-toggle="modal"]').forEach(item => {
        item.addEventListener('click', event => {
            const logementId = event.currentTarget.getAttribute('data-logement-id');
            const deleteUrl = `{{ path('app_logement_delete', {'id': 'ID_PLACEHOLDER'}) }}`.replace('ID_PLACEHOLDER', logementId);
            document.getElementById('deleteConfirmButton').href = deleteUrl;
        });
    });
</script>
{% endblock %}
