{% extends 'base.html.twig' %}

{% block title %}Logement{% endblock %}

{% block body %}
    <h1>Logement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ logement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ logement.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ logement.adresse }}</td>
            </tr>
            <tr>
                <th>CompletAdresse</th>
                <td>{{ logement.completAdresse }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ logement.surface }}</td>
            </tr>
            <tr>
                <th>NbrChambre</th>
                <td>{{ logement.nbrChambre }}</td>
            </tr>
            <tr>
                <th>NbrBain</th>
                <td>{{ logement.nbrBain }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ logement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_logement_index') }}">back to list</a>

    <a href="{{ path('app_logement_edit', {'id': logement.id}) }}">edit</a>

    {{ include('logement/_delete_form.html.twig') }}
{% endblock %}
