{% extends 'base1.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        
                    <div class="row reservation">
                        <div class="col-auto me-auto">
                            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Mes prestataires</strong>
                            {% for messages in app.flashes('success') %}
                <div class="alert alert-success">{{ messages }}</div>
            {% endfor %}
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-secondary" href="{{ path('app_invit_add') }}" type="button">Inviter un agents d'entretien</a>
                        </div>
                    </div><br>
                    <div class="row">
                    {% if invites|length > 0 %}
                    {% for invit in invites %}
                       <div class="col-md-6">
                            <a href="">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto me-auto">
                                            <strong class="card-title log">{{ invit.date | date('j M. Y') }}</strong>
                                        </div>
                                        <div class="col-auto">
                                            {% if invit.etat == "en attente" %}
                                                <div class="col-md-2 alert alert-warning attente" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 139, 60);"></i>  En attente
                                                </div>
                                            {% elseif invit.etat == "accepter" %}
                                                <div class="col-md-2 alert alert-warning payer" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(60, 196, 39);"></i>  Acceptée
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-auto">
                                            <div class="card ">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Nom</h6>
                                                    <h6 class="res-d2">{{ invit.nom }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="card">
                                                <div class="card-body b">
                                                    <h6 class="res-d">E-mail</h6>
                                                    <h6 class="res-d2">{{ invit.email }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="card">
                                                <div class="card-body b">
                                                    <h6 class="res-d">code d'invitation</h6>
                                                    <h6 class="res-d2">{{ invit.code }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    {% if invit.etat == "en attente" %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{{ path('app_invit_relance', {'id': invit.id}) }}" type="button" class="btn btn-secondary renv" style="margin-bottom:1%;"><i class="bi bi-arrow-repeat"></i> Relancer</a>
                                            </div>
                                        </div>
                                    {% elseif invit.etat == "accepter" %}
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a href="{{ path('app_conversation_id', {'id': invit.presta.id}) }}" type="button" class="btn btn-secondary renv" style="margin-bottom:1%;">Contacter</a>
                                                <!--<a href="{{ path('app_invit_reserver', {'id': invit.presta.id}) }}" type="button" class="btn btn1 btn-secondary" style="margin-bottom:1%;">Réserver</a>-->
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div></a><br>
                        </div>
                        {% endfor %}
                        {% else %}                 
                        <div class="emptyReserv">
                            <img src="/assets/img/reserEmp.png"><br>
                            <h5 style="font-weight: bold;">Vous n'avez pas encore invité votre équipe de prestataires.</h5><br>
                            <h6>Pensez à inviter votre équipe de prestataires pour travailler ensemble et maintenir un suivi de vos travaux.</h6><br>
                            <a href="{{ path('app_invit_add') }}"><button type="button" class="btn btn-secondary poster">Inviter mes agents d'entretien</button></a>
                        </div>
                {% endif %}
                </div>
        </div>
        {# reserver #}
        {% if cible == "reserver" %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="padding:2%;">
                    <div class="modal-content modal-reservation">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Poster une réservation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form method="post">
                                <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="date">Le jour</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" id="date" name="reservation[date]"required>
                                                <span class="input-group-addon"><i class="bi bi-calendar-event"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="surface">Heure</label>
                                            <div class="input-group">
                                                <input type="time" class="form-control" id="surface" name="reservation[heure]" placeholder="Donnez une heure" required>
                                                <span class="input-group-addon"><i class="bi bi-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="surface">Nombre des heures de ménage</label>
                                                <div id="hour-selector" class="hour-selector">
                                                    <button type="button" onclick="changeHours(-1)" class="cursur">-</button>
                                                    <input type="text" id="hourValue" name="reservation[nbrHeure]" value="1h30" readonly>
                                                    <button type="button" onclick="changeHours(1)">+</button>
                                                </div>
                                            </div>
                                        </div>
                                </div><br>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="completAdresse">Pour le logement</label>
                                                <div class="input-group">
                                                    {{ form_widget(form.logement) }}
                                                    <span class="input-group-addon"><i class="bi bi-chevron-down"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                </div><br>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="completAdresse">Ajouter une note (Optionnel)</label>
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>
                                </div><br>
                                <div class="form-group col align-self-center" style="text-align: center;">
                                    <button  type="submit" class="btn btn-secondary post">Poster</button>
                                </div>
                                {{ form_row(form._token) }}
                            </form><br>
                    </div>
                    </div>
                </div>
                {% block scripteditEventModalIdentity %}
                                <script>
                    var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
                    myModal.show();
                </script>
                <script>
                function changeHours(change) {
                    var currentValue = document.getElementById('hourValue').value;
                    var match = currentValue.match(/^(\d+)h(\d+)$/);
                    var hours = parseInt(match[1], 10);
                    var minutes = parseInt(match[2], 10);
                    
                    // Convertissez tout en minutes pour le calcul
                    var totalMinutes = hours * 60 + minutes + (change * 30); // changez par pas de 30 minutes

                    // Assurez-vous que la valeur reste dans un intervalle acceptable
                    if (totalMinutes < 90) totalMinutes = 90;  // Limite inférieure 1h30
                    if (totalMinutes > 150) totalMinutes = 150; // Limite supérieure 2h30

                    // Convertissez de nouveau en heures et minutes
                    var newHours = Math.floor(totalMinutes / 60);
                    var newMinutes = totalMinutes % 60;

                    // Mise à jour de la valeur de l'input
                    document.getElementById('hourValue').value = newHours + 'h' + (newMinutes < 10 ? '0' : '') + newMinutes;
                }
                </script>

                {% endblock %}
            {% endif %}
            {# end modal reserver #}

            {# modal ajouter#}
                {% if cible == "ajouter" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin: auto;width: 86%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h5 style="font-weight: 600;text-align: center;">Invitez des agents à rejoindre votre équipe</h5>
                            </div>
                            <form  method="post">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nom" style="color:black;font-size: 15px;">Nom du prestataire</label>
                                    {{ form_widget(form.nom) }}
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nom">E-mail du prestataire</label>
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                            </div><br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" style="color:black;font-size: 15px;">Message</label>
                                    {{ form_widget(form.message) }}
                                </div>
                            </div>
                                
                        </div>
                        <div class="modal-footer" >
                            <button type="submit"  class="btn btn-secondary" style="width: 33%;padding-top: 2%;padding-bottom: 2%;font-size: 0.9rem;margin: auto;">{{ button_label|default('Envoyer') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalAdd %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    {% endblock %}
            {% endif %}
            {# end modal ajouter #}
    </main>

{% endblock %}