{% extends 'base1.html.twig' %}

{% block title %}New Logement{% endblock %}

{% block body %}
 <main class="main-container">
  
        <div class="container" style="width:95%;background-color:white;margin:auto;border-radius: 4px;margin-top: 2%;height: auto;">
    <h5>Profil</h5><br>
 <form method="post" enctype="multipart/form-data">
 {% for message in app.flashes('success') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <img id="imagePreview" src="{{ app.request.basepath }}/img/{{ user.picture }}" alt="Image ronde" style="width: 205px; margin-top:2%;" onclick="document.getElementById('profile_picture').click();">
 <input type="file" id="profile_picture" name="profile[picture]" style="display: none;" onchange="updateImagePreview(this);">
<script>
    document.getElementById('profile_picture').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    });
    function updateImagePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imagePreview').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nom">Prénom</label>
                {{ form_widget(form.firstname) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="surface">Nom</label>
                {{ form_widget(form.lastname) }}
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="text">E-mail</label>
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="completAdresse">Numéro de téléphone</label>
                {{ form_widget(form.phoneNumber) }}
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="text">Date de naissance</label>
                {{ form_widget(form.birthday) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="completAdresse">Sexe</label>
                {{ form_widget(form.gender) }}
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="text">Adresse</label>
                {{ form_widget(form.adresse) }}
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="text">Description</label>
                {{ form_widget(form.description) }}
            </div>
        </div>
    </div><br>
 <div class="row">
        <div class="col-md-10"> 
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
    {{ form_row(form._token) }}
</form><br>
<hr>
<h5>Mot de passe</h5><br>
{% for message in app.flashes('warning') %}
		<div class="alert alert-warning mt-4">
	{{ message }}</div>
{% endfor %}
 <form method="post">
 {{ form_errors(formpass) }}
 {% for message in app.flashes('successp') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nom">Mot de passe actuel</label>
                {{ form_widget(formpass.oldpassword) }}
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="text">Nouveau mot de passe</label>
                {{ form_widget(formpass.plainpassword.first) }}
            {{ form_errors(formpass.plainpassword.first) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="completAdresse">Confirmation</label>
                {{ form_widget(formpass.plainpassword.second) }}
            {{ form_errors(formpass.plainpassword.second) }}
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-10"> 
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div><br>
   
    {{ form_row(formpass._token) }}
</form><br>

</div>
    </main>
{% endblock %}
