{% extends 'base1.html.twig' %}

{% block title %}Logements{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        <h5>Dashboard:</h5>
        <div class="main-cards" style="display:flex;justify-content: space-around;">
        {% for stat in reservationsStats %}
          <div class="card " style="padding: 1%;background-color: #FF385C !important;color: white;margin-bottom: 2%;">
            <div class="card-inner">
              <h4 style="font-size: 1rem;">Réservations {{ stat.reservationStatut }}:</h4>
            </div>
            <span class=" font-weight-bold">{{ stat.nombreReservations }} </span>
          </div>
          {% endfor %}
        </div><br>
        <h5>Filtrer par:</h5>
        <form method="get" action="{{ path('dashboard_logements') }}" class="row g-3">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label for="logementId" class="form-label">Logement:</label>
                <select id="logementId" name="logementId" class="form-select">
                    <option value="">Tous les logements</option>
                    {% for logement in logements %}
                        <option value="{{ logement.id }}">{{ logement.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="startDate" class="form-label">Date de début:</label>
                <input type="date" id="startDate" name="startDate" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="endDate" class="form-label">Date de fin:</label>
                <input type="date" id="endDate" name="endDate" class="form-control">
            </div>
            <div class="col-2 filterB" >
                <button type="submit" class="btn btn-secondary">Filtrer</button>
            </div>
        </form>


        
    <div class="row align-items-center mt-5"> <!-- Align items vertically center -->
        <div class="col-md-10">
            <h4>Résultats</h4>
        </div>
        <div class="col-md-2">
            <form method="get" action="{{ path('dashboard_logements') }}" class="row g-3">
                <input type="hidden" name="logementId" value="{{ app.request.query.get('logementId') }}">
                <input type="hidden" name="startDate" value="{{ app.request.query.get('startDate') }}">
                <input type="hidden" name="endDate" value="{{ app.request.query.get('endDate') }}">
                <div class="col-auto">
                    <select id="format" name="format" class="form-select" style="font-size: 12px !important;">
                        <option value="csv">CSV</option>
                        <option value="xlsx">XLSX</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button style="border: none;background-color: white;"><i class="bi bi-cloud-arrow-down-fill" style="font-size: 26px;"></i></button>
                </div>
            </form>
        </div>
    </div>


        <table class="table table-striped table-hover" >
            <thead class="table-dark" style="background-color: pink !important;">
                <tr>
                    <th class="th-dash">Logement</th>
                    <th class="th-dash">Statut</th>
                    <th class="th-dash">Montant(€)</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in logementsData %}
                    {% if reservation.reservationStatut != 'en attente' and reservation.reservationStatut != 'Annuler' %}
                        <tr>
                            <td>{{ reservation.logementNom }}</td>
                            <td>{{ reservation.reservationStatut }}</td>
                            <td>{{ reservation.totalMontant }} €</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
{% endblock %}
