{% extends 'base1.html.twig' %}

{% block title %}détails réservation{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
            <h5 class="titree">Profil d’agent : {{ presta.firstname }} {{ presta.lastname }}</h5>
                <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <img src="{{app.request.basepath}}/img/{{presta.picture}}" class="card-img-top rounded-circle" alt="..." style="width: 100px; height: 100px;margin:auto;">
                                </div>
                                <div class="col-md-9">
                                    <div style="display:flex;"><h5 style="font-weight: 500;">{{ presta.firstname }} {{ presta.lastname }} </h5> <i style="margin-left: 1%;color:rgba(4, 112, 239, 1);"  class="bi bi-patch-check-fill"></i></div>
                                    <p><i class="bi bi-star-fill" style="color:rgb(255, 211, 27);"></i> {{ average | number_format(1, '.', '') }}</p>
                                    <p class="res-d">{{ presta.description}}</p>
                                </div>
                                <div class="col-md-auto" style="font-weight: 600;">
                                   {% if demande.statut != "payer" %}
                                     <form id="payment-form">
                                        <button  id="submit" class="btn btn-secondary">Réserver</button>
                                    </form>
                                   {% endif %}
                                   
                                </div>
                            </div>
                            <div class="row" style="padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);">
                                 <div class="card" style="border-radius:10px;">
                                    <div class="card-body">
                                        <h5 style="font-weight:600;font-size:19px;margin-bottom:3%;">Expériences</h5>
                                        {% for experience in presta.experiences %}
                                            <div>
                                                <strong>{{ experience.experience }}</strong> | <small class="res-d">{{ experience.dtStart|date('Y-m') }} à {{ experience.dtEnd|date('Y-m') }}</small>
                                                <p style="font-size: 0.9rem;">{{ experience.description }}</p>
                                            </div>
                                            <hr>
                                        {% else %}
                                            <p style="margin-left:2%;">Aucune expérience enregistrée.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);">
                                 <div class="card" style="border-radius:10px;">
                                    <div class="card-body">
                                        <div class="row">
                                        <div class="col-md-11">
                                            <h5 style="font-weight:600;font-size:19px;margin-bottom:3%;">Avis et commentaires</h5>
                                        </div>
                                        <div class="col-md-auto">
                                            {% if demande.statut == 'payer' and demande.prestataire.getId() == presta.id %}
                                                <a href="{{ path('app_comment_presta_new',{'id':presta.id,'idDemande':demande.id}) }}"><i class="bi bi-plus-square-fill"></i></a>
                                            {% endif %}
                                        </div>
                                        </div>
                                        {% for comment in presta.getCommentPrestas() %}
                                                <div class="d-flex  marg">
                                                    {% if comment.client.picture %}
                                                        <img src="{{ app.request.basepath }}/img/{{ comment.client.picture }}" alt="Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                                    {% endif %}
                                                    <div>
                                                    <h6 class="card-title mb-0 nom">{{ comment.client.firstname }} {{ comment.client.lastname }}   <span class="">
                                                        {% for i in 1..5 %}
                                                            {% if i <= comment.evaluation %}
                                                                <span style="color: gold;">★</span>
                                                            {% else %}
                                                                <span style="color: grey;">★</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </span></h6>
                                                
                                                    <div class="card-subtitle dateC">
                                                        <span class="text-muted">{{ comment.createdAt|date('j M. Y') }} | {{ comment.createdAt|date('H:i') }}</span>
                                                    
                                                    </div>
                                                    </div>
                                                </div>
                                                <p class="card-text mt-2 comment" style="margin-left: 5%;">{{ comment.comment }}</p>
                                                {% if comment.reponse != null %}
                                                <div class="d-flex  marg" style="margin-left:5%;">
                                                    {% if comment.prestataire.picture %}
                                                        <img src="{{ app.request.basepath }}/img/{{ comment.prestataire.picture }}" alt="Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                                    {% endif %}
                                                    <div>
                                                    <h6 class="card-title mb-0 nom">Réponse de l'agent</h6>
                                                    <p class="mt-2 comment" style="margin-left: 5%;">{{ comment.reponse }}</p>
                                                    </div>
                                                    </div>
                                                {% endif %}

                                        {% else %}
                                            <p style="margin-left:2%;">Aucun commentaire enregistré.</p>
                                        {% endfor %}
                                    </div>
                                    {# modal pour comment #}
       {% if cible == "comment" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="margin: auto;width: 80%;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                            <h5 style="font-weight: 600;text-align: center;">Approuvé!</h5>
                            <h6 style="text-align: center;">Vous avez approuvé l’entretien avec succès.</h6>
                            <h6 style="text-align: center;">Prenez un instant pour noter l'agent Oumayma</h6>
                            </div><br>
                            <form name="CommentPrestaType" method="post" enctype="multipart/form-data">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                        <div class="row" style="margin:auto;width:100%;">
                            <div class="col-md-auto stars">
                                <i class="far fa-star ap" data-value="1"></i>
                                <i class="far fa-star ap" data-value="2"></i>
                                <i class="far fa-star ap" data-value="3"></i>
                                <i class="far fa-star ap" data-value="4"></i>
                                <i class="far fa-star ap" data-value="5"></i>
                            </div><br>
                            <div class="col-md-auto">
                                <img src="{{ app.request.basepath }}/img/{{ presta.picture }}" alt="Avatar" class="rounded-circle me-2" style="width: 27px; height: 27px;">
                                {{ presta.firstname }} {{ presta.lastname }}
                            </div>
                        </div>
                    {{ form_widget(form.evaluation, {'attr': {'style': 'display: none;', 'id': 'evaluation'}}) }}
                                 <label style="color:black;">Recommanderiez-vous ce prestataire ?</label>
                                {{ form_widget(form.recommandation, {'attr': {'placeholder': '', 'class': 'form-control', 'type': 'text', 'style': 'font-size:0.9rem;'}}) }}
                                
                                <label style="color:black;">Écrivez votre évaluation</label>
                                {{ form_widget(form.comment, {'attr': {'placeholder': 'Décrivez la qualité, le service, Exprimez votre expérience ...', 'class': 'form-control', 'type': 'textarea', 'style': 'font-size:0.9rem;'}}) }}
                               <!-- Ici le code pour les étoiles -->
                            </div>
                        </div>
                        <div class="modal-footer" >
                            <button type="submit"  class="btn btn-secondary" style="width: 33%;padding-top: 2%;padding-bottom: 2%;font-size: 0.9rem;margin: auto;">{{ button_label|default('Évaluer') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalIdentity %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.stars i').on('click', function() {
                let value = $(this).data('value');
                $('#comment_presta_evaluation').val(value);
                $('.stars i').removeClass('fas').addClass('far');
                $('.stars i').slice(0, value).removeClass('far').addClass('fas');
            });
        });
    </script>
                    {% endblock %}
            {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
        </div>
    </main>
    <script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_live_51PC23OGrwysY3nEfmZwem3Pk7fGolrLWWdjtah91j4GjCj0IFZ0O5hxa13udeUV8cxsmC1VQZy8Z81EIe1LCceYC00OrESWmRo');
    var elements = stripe.elements();

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        var reservationId = {{ demande.id|json_encode }};
        var prestataireId = {{ presta.id|json_encode }};
        fetch(`/checkout-session/${reservationId}/${prestataireId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}) // Montant en centimes
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if (data.error) {
                alert(data.error);
            } else {
                stripe.redirectToCheckout({
                    sessionId: data.id
                }).then(function(result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                });
            }
        });
    });
</script>
{% endblock %}
