{% extends 'base1.html.twig' %}

{% block title %}New Logement{% endblock %}

{% block body %}
 <main class="main-container">
        <div class="container" style="width:95%;background-color:white;margin:auto;border-radius: 4px;margin-top: 2%;height: auto;">
        <style>
        .container{
            width:100%;
            margin-top:4%;
            padding-left:6%;
            padding-right:6%;
        }
        .space{
            width:10%;
        }
        .details{
            width:30%;
            border:1px solid rgba(0, 0, 0, 0.16);
            border-radius: 6px;
            padding-left: 1%;
            padding-right: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .detail{
            margin-left:7%;
        }
        .search{
            width: 60%;
        }
        .Search{
            width: 89%;
            margin-left: 18%;
        }
        .cards{
            margin-top:4%;
        }
        .card{
            width: 20rem;
            margin-left:6%;
            margin-bottom:7%;
            display:contents;
            }
        .collapse{
            margin-left:75%;
        }
        .card-title {
            display: flex;
            justify-content: space-between; /* Pour espacer les deux éléments autant que possible */
        }

        .card-title h4.text-end {
            margin-left: auto; /* Déplace la deuxième h4 à la fin de la ligne */
        }
 .stars {
            cursor: pointer;
        }
        .far.fa-star {
            font-size: 24px;
            color: gray;
        }
        .fas.fa-star {
            font-size: 24px;
            color: gold;
        }
        label{
            font-size:1.3rem;
            position: initial !important;
        }
        textarea{
            width:100%;
        }
        </style>
            <div class="users">
                <div class="cards d-flex row">
                    <div class="card" >
                        <div>
                            <img src="{{app.request.basepath}}/img/{{presta.picture}}" class="card-img-top rounded-circle" alt="..." style="width: 150px; height: 150px;margin: 0 auto;margin-top:7%;">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4>{{ presta.firstname }} {{ presta.lastname }}</h4>
                                <h5 class="text-end">{{ presta.prix }}€/h</h5>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <p class="card-text"><i class="bi bi-star-fill" style="color:rgb(255, 211, 27);"></i> {{ average | number_format(1, '.', '') }}</p>
                                 
                                    <p class="card-text"><i class="bi bi-patch-check-fill" style="color:green"></i> Identité vérifiée</p>
                                </div>
                                <div>
                                    {% if demande.statut == 'en attente' %}
                                    <a href="{{ path('checkout', {'idPresta': presta.id,'idDemande': demande.id}) }}" class="btn b2 text-end" >Continuer</a><br><br>
                                    {% endif %}
                                    {% if demande.statut == 'confirmer' and demande.prestataire.getId() == presta.id%}
                                    <a href="{{ path('app_conversation_id', {'id': presta.id}) }}" class="btn b2 text-end" >Contacter</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <label><i class="bi bi-text-center"></i> Description:</label>
                    <p style="margin-left:2%;">{{ presta.description }}</p>
                    <hr >
                    <label><i class="bi bi-patch-check"></i> Expériences:</label>
                    {% for experience in presta.experiences %}
                        <div style="margin-left:2%;">
                            <strong>{{ experience.experience }}</strong> - <small>{{ experience.dtStart|date('Y-m') }} à {{ experience.dtEnd|date('Y-m') }}</small>
                            <p>{{ experience.description }}</p>
                        </div>
                    {% else %}
                        <p style="margin-left:2%;">Aucune expérience enregistrée.</p>
                    {% endfor %}

                    <hr >
                    
                    
                    <div class="">
                    <div class="row justify-content-between">
                        <div class="col-7" style="font-size: 1.5rem;">
                        <i class="bi bi-chat-square-text"></i> Avis et commentaires:
                        </div>
                        <div class="col-1" style="font-size: 1.5rem;">
                        {% if demande.statut == 'payer' and demande.prestataire.getId() == presta.id%}
                        <a href="{{ path('app_comment_presta_new',{'id':presta.id,'idDemande':demande.id}) }}"  ><i class="bi bi-plus-square-fill"></i></a>
                        {% endif %}
                        </div>
                    </div><br>
                    
                    {% for comment in presta.getCommentPrestas() %}
                        <div style="display: flex; align-items: center; margin-bottom: 10px;">
                            <!-- Afficher l'picture ou une image par défaut -->
                            {% if comment.client.picture %}
                                <img src="{{app.request.basepath}}/img/{{comment.client.picture}}" alt="picture" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;margin-top: -5%;">
                            {% else %}
                                <div style="width: 50px; height: 50px; border-radius: 50%; background-color: grey; display: flex; justify-content: center; align-items: center; margin-right: 10px;">
                                    <span>{{ comment.client.firstname|first|upper }}</span>
                                </div>
                            {% endif %}
                            
                            <div>
            <!-- Nom de l'utilisateur -->
            <strong>{{ comment.client.firstname }} {{ comment.client.lastname }}</strong>
            <span style="font-size: 0.8em; color: grey;">{{ comment.createdAt|date('Y-m-d') }}</span>
            
            <!-- Évaluation en étoiles -->
            <div>
                {% for i in 1..5 %}
                    {% if i <= comment.evaluation %}
                        <span style="color: gold;">★</span>
                    {% else %}
                        <span style="color: grey;">★</span>
                    {% endif %}
                {% endfor %}
            </div>
            
            <!-- Le commentaire -->
            <p>{{ comment.comment }}</p>
            
            <!-- Date du commentaire -->
            
        </div>
    </div>
{% endfor %}

                </div>
            </div>
     
        {# modal pour comment #}
       {% if cible == "comment" %}
              <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel">Commentaire</h5>
                            <button  class="close b2" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form name="CommentPrestaType" method="post" enctype="multipart/form-data">
                            {{ form_row(form._token) }}
                            <div class="col-sm-12">
                            <div class="stars">
                        <i class="far fa-star" data-value="1"></i>
                        <i class="far fa-star" data-value="2"></i>
                        <i class="far fa-star" data-value="3"></i>
                        <i class="far fa-star" data-value="4"></i>
                        <i class="far fa-star" data-value="5"></i>
                    </div></br>
                    {{ form_widget(form.evaluation, {'attr': {'style': 'display: none;', 'id': 'evaluation'}}) }}
                                
                                {{ form_widget(form.comment, {'attr': {'placeholder': 'Votre commentaire ici...', 'class': 'ma-classe-css'}}) }}

                               <!-- Ici le code pour les étoiles -->
                    
                           
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"  class="btn b2">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripteditEventModalIdentity %}
                <script>
                        var myOffcanvas = document.getElementById('editEventModal')
                        var bsOffcanvas = new bootstrap.Modal(myOffcanvas)
                        bsOffcanvas.toggle()
                    </script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.stars i').on('click', function() {
                let value = $(this).data('value');
                $('#comment_presta_evaluation').val(value);
                $('.stars i').removeClass('fas').addClass('far');
                $('.stars i').slice(0, value).removeClass('far').addClass('fas');
            });
        });
    </script>
                    {% endblock %}
            {% endif %}
  </div>
    </main>
{% endblock %}
