{% extends 'base1.html.twig' %}

{% block title %}détails réservation{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;"></br></br>
            <!-- templates/your_template.html.twig -->
{% if reservation.statut == "payer" %}
<a href="{{ path('generate_receipt', {'id':reservation.id }) }}" class="btn btn-primary">Générer le PDF</a>
{% endif %}

            {% for messages in app.flashes('success') %}
                <div class="alert alert-success">{{ messages }}</div>
            {% endfor %}
            {% for messages in app.flashes('error') %}
                <div class="alert alert-danger">{{ messages }}</div>
            {% endfor %}
            {% if reservation.statut == "confirmer" %}
            <a data-bs-toggle="modal" data-bs-target="#exampleModalAnnuler" type="button" class="btn btn-secondary" style="margin-bottom:1%;">Annuler</a>
            <h5 class="titree" style="padding-top:0px;">Détails d’entretien</h5>
                    <div class="card">
                        <div class="card-body">
                            <h6>Résultats</h6>
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    {% for task in reservation.logement.tasks %}
                                        <div class="col-md-6">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ task.id }}" aria-expanded="false" aria-controls="collapseOne">
                                                    {{ task.titre}}
                                                </button>
                                                </h2>
                                                <div id="collapseOne-{{ task.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                {% for imgTask in task.ImgTasks %}
                                                <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                    <img src="{{app.request.basepath}}/task/{{imgTask.filePath}}" class="img-thumbnail" alt="Task Image" style="max-width: 150px; height: auto;">
                                                </div>
                                                    {% else %}
                                                    <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                    <img src="/assets/img/image-gallery.png" style="width: 64px; height: 64px;">
                                                    <span>Résultat non ajoutée<span>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                            <div class="emptyReserv" style="padding:4%;">
                                                <img src="/assets/img/list.png" style="width: 64px; height: 64px;"><br>
                                                <h5 style="font-weight: 600;font-size: 18px;">Aucune tâche est liée à ce logement</h5>
                                                <h6 style="font-size: 16px;font-weight: 500;">Vous pouvez toujours ajouter des tâches pour ce logement <a href="{{ path('app_task_index',{'id':reservation.logement.id})}}">en cliquant içi</a></h6><br>
                                            </div>
                                    {% endfor %}
                                </div></br>
                                <h5 style="font-size: 14px;font-weight: 550;">L’agent a confirmé l’entretien de toutes les tâches assignées. Êtes-vous satisfait du résultat ?</h5>
                                {% if reservation.idIntent == "invit" %}
                                <form id="payment-form">
      
                                    <button  class="btn btn-secondary" style="margin-bottom:1%;" id="submit">Oui, j’approuve l’entretien</button>
                                </form>
                                {% else %}
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModalconfirmer" type="button" class="btn btn-secondary" style="margin-bottom:1%;">Oui, j’approuve l’entretien</a>
                                {% endif %}
                                <a href="" type="button" class="btn btn1 btn-secondary" style="margin-bottom:1%;" href="mailto:contact@clinup.fr">Je ne suis pas satisfait</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="titree">Résultat de la prestation complète</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    {% if video is not null %}
                                        <div style="display: flex; justify-content: center; align-items: center; margin:auto; background: rgba(249, 249, 249, 1);">
                                            <video width="300" controls>
                                                <source src="{{ asset('uploads/videos/' ~ video.filePath) }}" type="video/mp4">
                                                Votre navigateur ne supporte pas la lecture de vidéos.
                                            </video>
                                            <a href="{{ path('app_video_download', {'id': video.id}) }}" class="btn btn-primary" style="margin-top: 10px;">Télécharger la vidéo</a>
                                        </div>
                                    {% else %}
                                        <div style="display: flex; justify-content: center; align-items: center; margin:auto; background: rgba(249, 249, 249, 1);">
                                            <img src="/assets/img/image-gallery.png" style="width: 64px; height: 64px;">
                                                <span>Résultat non ajoutée</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if reservation.statut == "en attente" %}
            <a data-bs-toggle="modal" data-bs-target="#exampleModalAnnulerAtt" type="button" class="btn btn-secondary" style="margin-bottom:1%;">Annuler</a>
            {% endif %}
            <h5 class="titree">Détails de réservation</h5>
             <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <strong class="card-title log">Logement: {{ reservation.logement }}</strong>
                        </div>
                        <div class="col-auto">
                            {% if reservation.statut == "en attente" %}
                                                <div class="col-md-2 alert alert-warning attente" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 139, 60);"></i>  En attente
                                                </div>
                                            {% elseif reservation.statut == "confirmer" %}
                                                <div class="col-md-2 alert alert-warning confirmer" role="alert">
                                                   <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(7, 84, 201);"></i>  Confirmée
                                                </div>
                                            {% elseif reservation.statut == "Annuler" %}
                                                <div class="col-md-2 alert alert-warning annuler" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 28, 63);"></i>  Annulée
                                                </div>
                                            {% elseif reservation.statut == "payer" %}
                                                <div class="col-md-2 alert alert-warning payer" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(60, 196, 39);"></i>  Payée
                                                </div>
                                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-d">Date & Heure</h6>
                                    <h6 class="res-d2">{{ reservation.date ? reservation.date|date('j M. Y') : '' }} | {{ reservation.heure ? reservation.heure|date('H:i') : '' }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-d">Nombre d'heures</h6>
                                    <h6 class="res-d2">{{ reservation.nbrHeure }}min</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-d">Montant de la prestation </h6>
                                    <h6 class="res-d2">{{ reservation.prix }}€</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-d">Description</h6>
                                    <h6 class="res-d2">{{ reservation.description }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if reservation.statut == "Annuler" %}
                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="card m-2">
                                <div class="card-body b">
                                    <h6 class="res-dAnn"><i class="bi bi-exclamation-circle"></i> Motif d’annulation</h6>
                                    <h6 class="res-d2">{{ reservation.description }}</h6>
                                </div>
                            </div>
                        </div>

                    </div>-->
                    <h6 class="res-contact"><i class="bi bi-question-circle" style="color:rgba(15, 163, 75, 1);"></i> Avez-vous une question ou une demande ? Contactez l'équipe de support <a style="color:rgba(15, 163, 75, 1);">en cliquant içi</a> </h6>

                    {% endif %}
                </div>
                </div>
            {% if reservation.statut == "en attente" %}
                <h5 class="titree">Agents intéressés</h5>
                <a href="{{ path('app_reservation_envoyerAutre',{'id':reservation.id })}}" type="button" class="btn btn-secondary" style="margin-bottom:1%;">Envoyer aux autres prestataires</a>
                {% for prestataire in reservation.postulers %}
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="marg" style="display:flex;">
                                                    <img src="{{ app.request.basepath }}/img/{{ prestataire.prestataire.picture }}" alt="Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                                    <div>
                                                    <h6 class="card-title mb-0 nom">{{ prestataire.prestataire.firstname }} {{ prestataire.prestataire.lastname }} </h6>
                                                
                                                    <div class="card-subtitle dateC">
                                                        <span class="text-muted">{{ prestataire.createdAt|date('j M. Y') }} | {{ prestataire.createdAt|date('H:i') }}</span>
                                                    
                                                    </div>
                                                    </div>
                                                </div>
                                                <p class="card-text mt-2 comment">{{ prestataire.comment }}</p>
                                            </div>
                                            <div class="col-md-2">
                                            {% if  prestataire.comment != 'Je ne suis pas disponible'  %}
                                                <div class="row">
                                                    <a href="{{ path("app_consulter_profileP",{"id":prestataire.prestataire.id,"idReservation":reservation.id})}}" type="button" class="btn btn1 btn-primary">Voir profil</a>
                                                </div>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div><br>
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                    <div class="emptyReserv" style="padding:4%;">
                        <img src="/assets/img/bubbles.png" style="width: 64px; height: 64px;">
                        <h5 style="font-weight: 600;font-size: 18px;">Aucun agent pour le moment</h5>
                        <h6 style="font-size: 16px;font-weight: 500;">Gardez l'œil ouvert et revenez plus tard pour trouver les agents interessés</h6><br>
                    </div>
                    </div>
                    {% endfor %}
                {% elseif reservation.statut == "confirmer" or reservation.statut == "payer"%}
                    <h5 class="titree">Agent choisi</h5>
                    <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body" style="padding-bottom: 0%;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="marg"  style="display: flex;">
                                                    <img src="{{ app.request.basepath }}/img/{{ reservation.prestataire.picture }}" alt="Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                                    <div style="margin-top: 2%;">
                                                    <h6 class="card-title mb-0 nom">{{ reservation.prestataire.firstname }} {{ reservation.prestataire.lastname }}<h6>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-4"><a href="{{ path("app_consulter_profileP",{"id":reservation.prestataire.id,"idReservation":reservation.id})}}" type="button" class="btn btn1 btn-primary" style="width:100%;">Voir profil</a></div>
                                                    <div class="col-md-8"><a href="{{ path('app_conversation_id', {'id': reservation.prestataire.id}) }}" type="button" class="btn btn1 btn-primary" style="width:100%;">Envoyer un message</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <h5 class="titree">Tâches</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    {% for task in reservation.logement.tasks %}
                                        <div class="col-md-6">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ task.id }}" aria-expanded="false" aria-controls="collapseOne">
                                                    {{ task.titre}}
                                                </button>
                                                </h2>
                                                <div id="collapseOne-{{ task.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    {{ task.detail}}
                                                    <div class="col-md-12">
                                                        {% if task.img %}
                                                            <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                                <img src="{{app.request.basepath}}/taskHote/{{task.img}}" class="img-thumbnail" alt="Task Image" style="max-width: 120px; height: auto;">
                                                            </div>
                                                        {% else %}
                                                            <div style="display: flex; justify-content: center; align-items: center; margin:auto;background: rgba(249, 249, 249, 1);">
                                                                <img src="/assets/img/image-gallery.png" style="width: 64px; height: 64px;">
                                                                <span>Aucune image ajoutée<span>
                                                            </div>
                                                        {% endif %}
                                                        </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                            <div class="emptyReserv" style="padding:4%;">
                                                <img src="/assets/img/list.png" style="width: 64px; height: 64px;"><br>
                                                <h5 style="font-weight: 600;font-size: 18px;">Aucune tâche est liée à ce logement</h5>
                                                <h6 style="font-size: 16px;font-weight: 500;">Vous pouvez toujours ajouter des tâches pour ce logement <a href="{{ path('app_task_index',{'id':reservation.logement.id})}}">en cliquant içi</a></h6><br>
                                            </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
                                <!-- Modal app -->
                                        <div class="modal fade" id="exampleModalconfirmer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight:600;">Confirmer l’approbation</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir approuver cette demande de nettoyage? Une fois approuvé,le paiement sera envoyé au prestataire et votre réservation sera marquée comme payer.
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('app_reservation_valider',{'id':reservation.id})}}"><button type="button"class="btn btn-secondary" >Confirmer</button></a>
                                            </div>
                                            </div>
                                        </div>
                                        </div>   
                                <!-- Modal FIN -->
                                <!-- Modal annul-->
                                        <div class="modal fade" id="exampleModalAnnuler" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight:600;">Annuler la réservation</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir annuler cette réservation?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('app_reservation_annuler',{'id':reservation.id})}}"><button type="button"class="btn btn-secondary" >Confirmer</button></a>
                                            </div>
                                            </div>
                                        </div>
                                        </div>   
                                <!-- Modal annuler -->
                                <!-- Modal annul-->
                                        <div class="modal fade" id="exampleModalAnnulerAtt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-weight:600;">Annuler la réservation</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir annuler cette réservation?
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ path('app_reservation_annulerAtt',{'id':reservation.id})}}"><button type="button"class="btn btn-secondary" >Confirmer</button></a>
                                            </div>
                                            </div>
                                        </div>
                                        </div>   
                                <!-- Modal annuler -->
                                        
    </main>
    <script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_51PC23OGrwysY3nEfKzPhtsCMxudBmcgUNrjzxPNCJYk5LPdxrjLTcz4LD9DAiVHJe62DmFFerQnKBzTQmskNG1kX0053s31F6s');
    var elements = stripe.elements();

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        var reservationId = {{ reservation.id|json_encode }};
        fetch(`/create-checkout-session/${reservationId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({amount: 1000}) // Montant en centimes
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            if (data.error) {
                alert(data.error);
            } else {
                stripe.redirectToCheckout({
                    sessionId: data.id
                }).then(function(result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                });
            }
        });
    });
</script>
{% endblock %}
