{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        
                    <div class="row reservation">
                        <div class="col-auto me-auto">
                            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Mes réservations</strong>
                        </div>
                    </div><br>
                    {% for messages in app.flashes('success') %}
                        <div class="alert alert-success">{{ messages }}</div>
                    {% endfor %}
                    <div class="row">
                    {% if reservations|length > 0 %}
                    {% for reservation in reservations %}
                       <div class="col-md-6">
                            <a ><div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto me-auto">
                                            <strong class="card-title log">{{ reservation.logement }}</strong>
                                        </div>
                                        <div class="col-auto">
                                            {% if reservation.statut == "en attente" %}
                                                <div class="col-md-2 alert alert-warning attente" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 139, 60);"></i>  En attente
                                                </div>
                                            {% elseif reservation.statut == "confirmer" %}
                                                <div class="col-md-2 alert alert-warning confirmer" role="alert">
                                                   <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(7, 84, 201);"></i>  Confirmée
                                                </div>
                                            {% elseif reservation.statut == "Annuler" %}
                                                <div class="col-md-2 alert alert-warning annuler" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 28, 63);"></i>  Annulée
                                                </div>
                                            {% elseif reservation.statut == "payer" %}
                                                <div class="col-md-2 alert alert-warning payer" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(60, 196, 39);"></i>  Payée
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-auto">
                                            <div class="card ">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Date & Heure</h6>
                                                    <h6 class="res-d2">{{ reservation.date ? reservation.date|date('j M. Y') : '' }} | {{ reservation.heure ? reservation.heure|date('H:i') : '' }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="card">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Montant</h6>
                                                    <h6 class="res-d2">{{ reservation.prix }}€</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="card">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Hôte</h6>
                                                    <h6 class="res-d2">{{ reservation.logement.hote.lastname}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div></br>
                                    {% if reservation.statut == "confirmer" %}
                                    <div class="row" style="justify-content: center;">
                                        <div class="col-md-6"><a href="{{ path('app_reservation_show',{'id': reservation.id}) }}" type="button" class="btn btn1 btn-primary" style="width:100%;">Voir les tâches de réservation</a></div>
                                        <div class="col-md-6"><a href="{{ path('app_probleme_new', {'id': reservation.id}) }}" type="button" class="btn btn1 btn-primary" style="width:100%;background:#FF385C !important;color:white !important;"> <i class="bi bi-exclamation-triangle" style="color:white;"></i> Signaler un problème</a></div>
                                    </div>
                                    {% else %}
                                        <div class="row" style="justify-content: center;">
                                        <div class="col-md-6"><a href="{{ path('app_reservation_show',{'id': reservation.id}) }}" type="button" class="btn btn1 btn-primary" style="width:100%;">Voir plus</a></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                        {% else %}                 
                        <div class="emptyReserv">
                            <img src="/assets/img/reserEmp.png"><br>
                            <h5 style="font-weight: bold;">Aucune réservation pour le moment</h5><br>
                        </div>
                {% endif %}
                </div>
        </div>
        {# modal pour probleme #}
       {% if cible == "addProb" %}
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="padding:2%;">
    <div class="modal-content modal-reservation">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signaler un problème</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form method="post">
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">Titre du problème</label>
                            <div class="input-group">
                                <input type="text" class="form-control"  name="probleme[titre]" placeholder="Donnez un nom à ce problème" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                        <div class="form-group">
                            <label for="date">La criticité</label>
                            <div class="input-group">
                                {{ form_widget(form.criticiter) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <label for="date">Description</label>
                            <div class="input-group">
                                <textarea type="text" class="form-control"  name="probleme[description]" placeholder="Ajouter les détails de ce problème" required></textarea>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-primary proB">Enregistrer</button>
                    </div>
                </div>
                {{ form_row(form._token) }}
            </form><br>
      </div>
    </div>
  </div>
  {% block scripteditEventModalexp %}
                <script>
    var myModal = new bootstrap.Modal(document.getElementById("exampleModal"));
    myModal.show();
</script>
                    {% endblock %}
            {% endif %}
    </main>

{% endblock %}