{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <main class="main-container">
        <div class="container" style="width:95%;height: auto;">
        
                    <div class="row reservation">
                        <div class="col-auto me-auto">
                            <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Mes réservations</strong>
                        </div>
                    </div><br>
                    <div class="row">
                    {% if reservations|length > 0 %}
                    {% for reservation in reservations %}
                       <div class="col-md-6">
                            <a href="{{ path('app_list_postuler',{'id': reservation.id}) }}"><div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto me-auto">
                                            <strong class="card-title log">{{ reservation.logement }}</strong>
                                        </div>
                                        <div class="col-auto">
                                            {% if reservation.statut == "en attente" %}
                                                <div class="col-md-2 alert alert-warning attente" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 139, 60);"></i>  En attente
                                                </div>
                                            {% elseif reservation.statut == "confirmer" %}
                                                <div class="col-md-2 alert alert-warning confirmer" role="alert">
                                                   <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(7, 84, 201);"></i>  Confirmée
                                                </div>
                                            {% elseif reservation.statut == "Annuler" %}
                                                <div class="col-md-2 alert alert-warning annuler" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(255, 28, 63);"></i>  Annulée
                                                </div>
                                            {% elseif reservation.statut == "payer" %}
                                                <div class="col-md-2 alert alert-warning payer" role="alert">
                                                    <i class="bi bi-circle-fill" style="font-size:8px;color:rgb(60, 196, 39);"></i>  Payée
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin: auto;">
                                        <div class="col-md-auto">
                                            <div class="card ">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Date & Heure</h6>
                                                    <h6 class="res-d2">{{ reservation.date ? reservation.date|date('j M. Y') : '' }} | {{ reservation.heure ? reservation.heure|date('H:i') : '' }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="card">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Nbre d'heures</h6>
                                                    <h6 class="res-d2">{{ reservation.nbrHeure }}min</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-auto">
                                            <div class="card">
                                                <div class="card-body b">
                                                    <h6 class="res-d">Agents intéressés</h6>
                                                    <h6 class="res-d2"></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                        {% else %}                 
                        <div class="emptyReserv">
                            <img src="/assets/img/reserEmp.png"><br>
                            <h5 style="font-weight: bold;">Aucune réservation pour le moment</h5><br>
                            <h6>Initiez votre première réservation et offrez à votre maison la fraîcheur qu'elle mérite</h6><br>
                            <a href="{{ path('app_reservation_new') }}"><button type="button" class="btn btn-secondary poster">Poster une réservation</button></a>
                        </div>
                {% endif %}
                </div>
        </div>
        
    </main>

{% endblock %}