<html>
    <head>
       <title>Bienvenue sur ClinUp</title>
    </head>
    <body>
    <div style="width:60%; margin:auto;">
    <h1 style="text-align: left; color: #3d4465;">Bonjour {{ presta }},</h1>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">{{ hote.firstname}} {{ hote.lastname}}  vous a invité(e) à rejoindre Clinup  !</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Vous avez été invité(e) à rejoindre Clinup en tant qu'Agent(e) d'entretien par {{ hote.firstname}}. Il s'agit d'une application web qui vous aidera, vous et {{ hote.firstname}}, à conserver une trace du travail que vous faites ensemble.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Veuillez trouver ci-dessous un message de la part de {{ hote.firstname}}:</p>

    <h3 style="text-align: left; color: #3d4465;font-size: 26px;">{{ invit.message }}</h3>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Veuillez utiliser ce code lors de votre inscription, afin de vous connecter à {{ hote.firstname}}:</p>

    <h3 style="text-align: left; color: #3d4465;font-size:40px;">{{ invit.code }}</h3>

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
            <td align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td align="center" style="border-radius:3px">
                            <a style="background-color: rgb(255, 56, 92);
                                border: none;
                                color: white;
                                padding: 15px 32px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;" href="https://clinup.fr/inscription" target="_blank">
                                S'inscrire!
                            </a>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody>
    </table>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Si vous avez des questions ou besoin d'aide, notre équipe est à votre disposition pour vous assister.</p>
    <p style="font-size: 16px; text-align: left; color: #3d4465;">Bien à vous,</p>
    <div style="display: flex;">
    <p style="font-size: 16px; text-align: left; color: #3d4465;">L'équipe de </p>
    <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
    </div>
    </body>
</html>
