<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur ClinUp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #3d4465;
            background-color: #ffffff;
        }
        .container {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
        h1, p, h3, a {
            text-align: left;
        }
        h1 {
            font-size: 24px;
            color: #3d4465;
        }
        h3 {
            font-size: 26px; /* Increased font size for the message */
            color: #3d4465;
        }
        p {
            font-size: 16px;
        }
        a {
            background-color: rgb(255, 56, 92);
            border: none;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px;
        }
        @media (max-width: 600px) {
            .container {
                padding: 10px;
            }
            h1, p, h3, a {
                font-size: 14px;
            }
            h3 {
                font-size: 22px; /* Slightly smaller than desktop to fit mobile screens */
            }
            a {
                padding: 8px 16px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Bonjour {{ presta }},</h1>
    <p>{{ hote.firstname}} {{ hote.lastname}} vous a invité(e) à rejoindre Clinup !</p>
    <p>Vous avez été invité(e) à rejoindre Clinup en tant qu'Agent(e) d'entretien par {{ hote.firstname}}. Il s'agit d'une application web qui vous aidera, vous et {{ hote.firstname}}, à conserver une trace du travail que vous faites ensemble.</p>
    <p>Veuillez trouver ci-dessous un message de la part de {{ hote.firstname}}:</p>
    <h3>{{ invit.message }}</h3>
    <p>Veuillez utiliser ce code lors de votre inscription, afin de vous connecter à {{ hote.firstname}}:</p>
    <h3 style="font-size: 40px;">{{ invit.code }}</h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center">
                    <a href="https://clinup.fr/inscription" target="_blank">S'inscrire!</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Si vous avez des questions ou besoin d'aide, notre équipe est à votre disposition pour vous assister.</p>
    <p>Bien à vous,</p>
    <div style="display: flex; align-items: center;">
        <p>L'équipe de </p>
        <h2 style="color: rgb(255, 56, 92);">ClinUp</h2>
    </div>
</div>
</body>
</html>
