{% extends 'base1.html.twig' %}

{% block title %}Logements{% endblock %}

{% block body %}
<main class="main-container">
    <div class="container" style="width: 95%; height: 100%;">
    <strong class="card-title" style="font-weight: bold;font-size:1.6rem;">Messages</strong>
        <div class="card" style="border: none; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 2%; height: 90%;">
            <div class="row">
                <div class="col-md-4" style="margin-bottom:17%;">
                    <p style="font-size: 18px; font-weight: 600;">Agents</p>
                    <div class="overflow-auto" style="max-height: 72vh;">
                        {% if conversations|length > 0 %}
                        {% for conversation in conversations %}
                        <a  href="{{ path('app_messages_show', {'id': conversation.id,'idrecipiant': conversation.idRecipiant}) }}"><div class="marg" style="display: flex;">
                            <img src="{{app.request.basepath}}/img/{{conversation.picture}}" alt="Avatar" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                            <div>
                                <h6 class="card-title mb-0 nom" style="font-size: 1rem !important;color: black !important;">{{ conversation.nom }} <span class=""></span></h6>                     
                                <div class="card-subtitle dateC">
                                    {% if conversation.type == 'image' %}
                                        <p class="text-muted"><i class="bi bi-image-fill"></i> Photo</p>
                                    {% else %}
                                        <p class="text-muted">{{ conversation.lastMessage }}</p>
                                    {% endif %}                            
                                </div>
                            </div> 
                        </div></a><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div><br>
                <div class="col-md-8">
                    <div class="card" style="height: 78vh;">
                        <div class="" style="margin: auto; text-align: center;">
                            <i class="bi bi-chat-square-text center" style="font-size: 113px;"></i>
                            <h5 style="font-weight: 600;">Consultez vos messages</h5>
                            <h6>Sélectionnez une conversation pour commencer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
