<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture N° {{ receipt.receiptNumber }}</title>
    <style>
        @page {
            size: A4; /* Taille du papier A4 */
            margin: 20mm; /* Marges pour l'A4 */
        }

        body { 
            font-family: Arial, sans-serif; 
            font-size: 12px; 
            color: #333; 
            margin: 0;
            padding: 0;
            width: 100%;
        }

        header, footer { 
            text-align: center; 
            margin-bottom: 20px; 
        }

        h2 {
            margin-top: 20px;
            font-size: 20px;
            color: #ff385c;
        }

        .address { 
            width: 48%; 
            display: inline-block; 
            vertical-align: top; 
            margin-bottom: 20px;
        }

        .address strong {
            font-size: 14px;
        }

        .details { 
            margin-top: 20px; 
            font-size: 14px;
        }

        .details p {
            margin: 0;
        }

        table { 
            width: 100%; 
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th { 
            background-color: #f2f2f2; 
            font-weight: bold; 
        }

        .total { 
            text-align: right; 
            font-weight: bold; 
            font-size: 16px;
            margin-top: 20px;
        }

        footer {
            font-size: 10px;
            margin-top: 30px;
        }

        .legal { 
            font-size: 10px; 
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <header>
        <h2>Facture N° {{ receipt.receiptNumber }}</h2>
    </header>

    <section style="display: flex; justify-content: space-between;">
        <div class="address">
            <strong>{{ receipt.reservation.prestataire.firstname }} {{ receipt.reservation.prestataire.lastname }}</strong><br>
            {{ receipt.reservation.prestataire.adresse }}<br>
            {% if receipt.reservation.prestataire.siret is not null %}
                SIRET/SREN : {{ receipt.reservation.prestataire.siret }}<br>
            {% endif %}
        </div>
        <div class="address" style="text-align: right;">
            <strong>{{ receipt.reservation.logement.hote.firstname }} {{ receipt.reservation.logement.hote.lastname }}</strong><br>
            {{ receipt.reservation.logement.adresse }}<br>
        </div>
    </section>

    <section class="details">
        <p style="text-align: center; font-weight: bold;">Date de réservation: {{ receipt.paymentDate|date('d/m/Y') }}</p>
        <p style="text-align: center; font-weight: bold;">Date de paiement: {{ receipt.reservation.date|date('d/m/Y') }}</p>

        {% set horaire = receipt.reservation.nbrHeure %}
        {% set prixTotal = receipt.reservation.prix %}
        
        {# Conversion de l'horaire en heures décimales #}
        {% set heures = horaire|replace({'h': '.'})|split('.') %}
        {% set heuresDecimales = (heures[0]|default(0)) + ((heures[1]|default(0)) / 60) %}

        {# Conversion du prix total en nombre #}
        {% set prixTotalNum = prixTotal|replace({'€': ''})|trim %}

        {# Calcul du prix unitaire par heure #}
        {% set prixUnitaire = heuresDecimales != 0 ? (prixTotalNum / heuresDecimales) : 0 %}

        <table>
            <thead>
                <tr>
                    <th>DESIGNATION DU SERVICE</th>
                    <th>Quantité Horaire</th>
                    <th>Montant Unitaire</th>
                    <th>Prix total hors taxe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prestation de ménage</td>
                    <td>{{ receipt.reservation.nbrHeure }}</td>
                    <td>{{ prixUnitaire|number_format(2, '.', ' ') }} </td>
                    <td>{{ receipt.reservation.prix }} €</td>
                </tr>
                <tr>
                    <td>Frais Clinup</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ (receipt.reservation.prix * 0.05)|round(2) }} €</td>
                </tr>
                <tr>
                    <td>Frais Stripe</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ ((receipt.reservation.prix * 0.015) + 0.25)|round(2) }} €</td>
                </tr>
            </tbody>
        </table>

        <p class="total">Total HT : {{ (receipt.reservation.prix + (receipt.reservation.prix * 0.05) + ((receipt.reservation.prix * 0.015) + 0.25))|round(2) }} €</p>
    </section>

    <footer>
        <p style="text-align: left;">"En cas de retard de paiement, indemnité forfaitaire légale pour frais de recouvrement : 40,00 €"</p>
        <p class="legal">"TVA non applicable, Art. 293 B du code général des impôts"</p>
    </footer>
</body>
</html>
